.title-bar {
        background: linear-gradient(90deg,#000069,#690069);
      }
.window {
  background: #9993ab;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf,
    inset -2px -2px grey, inset 2px 2px #fff;
}
.title-bar,
.window,
button,
input,
label,
option,
select,
table,
textarea,
ul.tree-view {
  -webkit-font-smoothing: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 11px;
}

h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  color: #222222;
  text-decoration: underline 2px;
}
button {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  background: #a8a2ba;
}
table > thead > tr > * {
  background: #a8a2ba;
}