.menu-bar {
    margin: 8px
}
.navigation-bar {
    margin: 8px
}
.address-bar {
    margin: 8px
}
.left {
    float: left;
    width: 400px;
    padding: 5px;
  }
.right {
    float: left;
    width: calc(100% - 400px);
    padding: 5px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
  }