<fieldset>
  <p style="font-size: 18px; font-weight: 700;">Welcome to Darowimu's Lab</p>
  <li>• To download a file, select it below</li>
  <li>• You want to add your things here? Contact @Darowimu on Discord!</li>
</fieldset>
<br />
<details open>
  <summary>File Explorer</summary>
  <ul>  
    <li><a href="/App/">Index/</a></li>
    <details open>
    <summary>Files/</summary>
      <ul>
        <details open>
          <summary>Minecraft Launcher Modpacks/</summary>
          <ul>
            <li>Nothing to display.</li>
          </ul>
        </details>
        <details open>
          <summary>Prism Launcher Modpacks/</summary>
          <ul>
            <li><a href="/App/File/KebabBox/">KebabBox</a></li>
            <li><a href="/App/File/BeePack/">BeePack</a></li>
          </ul>
        </details>
        <details open>
          <summary>Crystal Launcher Modpacks/</summary>
          <ul>
            <li><a href="/App/File/BeePack/">BeePack</a></li>
          </ul>
        </details>
        <details open>
          <summary>Other Files & links/</summary>
          <ul>
            <li><a href="https://github.com/Darowimu/darowimu/wiki/">Wiki</a></li>
            <li><a href="/Explorer/Files/CastellumServer/">CastellumServer World</a></li>
          </ul>
        </details>
      </ul>
    </details>
    <li><a href="/App/About/">About</a></li>
    <li><a href="https://darowimu.freeddns.org/">Daro Blog</a></li>
  </ul>
  </details>
