<fieldset>
  <p style="font-size: 18px; font-weight: 700;">Welcome to Daro Labs</p>
  <li>• To download a file, select it below</li>
  <li>• You want to add your things here? Contact @Darowimu on Discord!</li>
</fieldset>
<br />
<details open>
  <summary><img src="https://win98icons.alexmeub.com/icons/png/hard_disk_drive-1.png" height="10px"> File Explorer</summary>
  <ul>  
    <details open>
    <summary><li><a href="/explorer-new/"><img src="https://win98icons.alexmeub.com/icons/png/desktop-3.png" height="10px"> Index/</a></li></summary>
      <ul>
      <details open>
      <summary><img src="https://win98icons.alexmeub.com/icons/png/directory_closed-1.png" height="10px"> Files/</summary>
        <ul>
          <li>Nothing to display</li>         
      </ul>
    </details>
    <li><a href="/App/About/"><img src="https://win98icons.alexmeub.com/icons/png/help_book_big-0.png" height="10px"> About</a></li>
    <li><a href="/Changelog/"><img src="https://win98icons.alexmeub.com/icons/png/write_wordpad-1.png" height="10px"> Changelog</a></li>
    <li><a href="/Random-cat"><img src="/_data/img/icons/cat.png" height="10px"> Random Cat</a></li>
    <li><a href="/Random-dog"><img src="/_data/img/icons/dog.png" height="10px"> Random Dog</a></li>
    
  </ul>
  </details>

